.btn-outline-brand {
	color: $btn-outline-brand-text-color;
	background-color: $btn-outline-brand-background-color;
	background-image: none;
	border-color: $btn-outline-brand-border-color;
	&:hover,
	&:active,
	&:focus {
		color: $btn-outline-brand-active-text-color;
		background-color: $btn-outline-brand-active-background-color;
		border-color: $btn-outline-brand-active-border-color;
	}
}

.btn-no-fill {
	background-color: transparent;
}