@mixin transition($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
	transition: $time;
}

@mixin flex-display {
	display: -webkit-box;          /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;             /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;          /* TWEENER - IE 10 */
	display: -webkit-flex;         /* NEW - Chrome */
	display: flex;                 /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

@mixin user-select($input) {
	-webkit-user-select: $input;
    -moz-user-select: $input;
    -ms-user-select: $input;
    user-select: $input;
}

@mixin flex( $ratio ) {
	-webkit-box-flex: $ratio;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: $ratio;         /* OLD - Firefox 19- */
	-webkit-flex: $ratio;          /* Chrome */
	-ms-flex: $ratio;              /* IE 10 */
	flex: $ratio;
}

// (x y) coordinates each
// top left, top right, bottom right, bottom left
@mixin skew( $top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy ) {
	-webkit-shape-outside: polygon($top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy);
	shape-outside: polygon($top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy);
	-webkit-clip-path: polygon($top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy);
	clip-path: polygon($top_left_xy, $top_right_xy, $bottom_right_xy, $bottom_left_xy);
}