.bg-blue-light {
	background: $blue-light;
}

.bg-blue-extra-light {
	background: $blue-extra-light;
}

$radius-class-slug: radius !default;
@for $i from 1 through 10 {
	.#{$radius-class-slug}-#{$i} {
		border-radius: 1px + $i;
	}
}

.border-bottom-secondary {
	border-bottom: 1px solid #ced4da;
}

.border-top-secondary {
	border-top: 1px solid #ced4da;
}

.w-20
{
	width:20% !important;
}

@media only screen and (max-width: 575px) {
	.hide-xs {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.hide-sm {
		display: none;
	}
}

@media only screen and (max-width: 991px) {
	.hide-md {
		display: none;
	}
}

@media only screen and (max-width: 1199px) {
	.hide-lg {
		display: none;
	}
}