$primary-color: #333;
$account-info-color:#0a386e;
$secondary-color:#002b5c;

$container-padding:20px;
$container-margin-bottom-space:20px;


$account-info-font-size:0.8rem;


$card-shadow: rgba(0,0,0,0.1);