
html,body {
    height: 100%;
    /* important to vertically align the container */
    margin: 0;
    padding: 0;
 
}

.login
{
    background: url('../images/login-bg.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.pattern-bg
{
    background-image: url(../images/newsbg.png);
}

.login-container-height
{
    min-height:350px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
  }

  .form-bg
  {
     background-color: $form-bg-color;
  }

.login-padding
{
    padding:30px 80px;
}

  .nav-pipe a:after
  {
    padding-left:6px;
    content: "|";
  }

  .nav-pipe li:last-child:after a {
    content: "";
}

@media only screen and (max-width: 1235px) {
    .login-padding
    {
        padding:30px 25px;
    }
   .login .w-60
   {
       width:auto;
   }
}