@import "variables";
@import "mixins";
@import "typography";
@import "button";
@import "components/card";
@import "components/sideNavs";
@import "components/greetingWidget";
@import "components/tabBar";
@import "login";

body {
  background-color: $page-background-color;
  font-family: $page-font;
}

#logo {
  padding: 5px;
  width: 80%;
}

.bg-grey {
  background: #e9ecef;
}

.fas {
  margin-right: 5px;
}
.text-hightlight
{
  color:$yellow-highlight;
}
.border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.shadow {
   -webkit-box-shadow: 0px 1px 5px 1px $card-shadow;
  -moz-box-shadow: 0px 1px 5px 1px $card-shadow;
  box-shadow: 0px 1px 5px 1px $card-shadow;
}

.welcome-message {
  font-size: 0.9rem;
}

.top-banner {
  background-color: #fff;
  padding: 20px;
}

.search input {
  border-radius: 40px;
  height: 42px;
  width: 100%;
  border: 1px solid #828080;
  padding-left: 20px;
}

  .search i {
    position: absolute;
    left: 35px;
    top: 18px;
}

.bottom-banner {
  background-image: url('../images/newsbg.png');
  min-height: 200px;
  background-color: #00539b;
  width: 100%;
}

.menu {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  .nav-link {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  .nav-item {
    padding-right: 40px;
  }
}

.page-title {
  margin-top: 46px;
}

.page-title-heading, .page-title-sub-heading {
  color: #fff;
  font-weight: lighter;
}

.content {
  padding-top: 40px;
}

.bank-cards {
  background-color: #fff;
  padding: 10px 20px 10px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  &:hover {
    box-shadow: 10px 10px 10px 2px $card-shadow;
    position: relative; 
  }
}

.account-data-label {
  color: #b7b7b7;
  font-size: 11px;
  text-align: right;
}

.account-data {
  color: #003064;
  font-weight: 100;
  font-size: 15px;
}


.btn-default-custom {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #9c9c9c;
}

.btn-custom-promo {
  border: 1px solid #fff;
  &.active {
    color: #fff;
    background: none;
  }
}


.panel-header,
.panel-header-sm {
  background: linear-gradient(#00539B, #002A4E);
  padding: 20px;
  font-weight: 100;
  color: #fff;
  font-size: 22px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.panel-header-sm {
  padding: 7px 10px;
  font-size: 1em;
}


.panel-body {
  background: #fff;
  padding: 16px;
  margin-bottom: 20px;
}

.quick-links .nav-link {
  color: #083161;
  border-bottom: 1px solid #f1f1f1;
  padding: 16px;
  font-size: 0.9rem;
}

.nav-link .fas.fa-chevron-right {
  float: right;
}

.weather {
  background: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.welcome, .weather-info {
  padding: 20px 50px 20px 50px;
}

.welcome {
  color: #083161;
  font-size: 1.6rem;
}

.weather-info {
  background-color: #e3e3e3;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.weather-info-date {
  font-size: 0.8rem;
}

.btn-primary {
  background: #00539b;
}

.promotiojn {
  margin-top: 40px;
  margin-bottom: 30px;
  background-image: url('../images/promo.png');
  padding: 40px 40px 20px 40px;
}

.promo-heading {
  font-weight: 100;
}

.promo-caption {
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 14px;
}

.custom-slide {
  margin-right: 20px;
  img {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 200px;
  }
}

.slide-title {
  background-color: #fff;
  padding: 20px;
  color: #003064;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.contact-info {
  background-color:#002b5c;
  padding: 18px;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-icons {
  height: 40px;
  margin-right: 10px;
  margin-top: -3px;
}


.footer {
  background-color: #383737;
  padding: 30px;
  h5 {
    color: #fff;
  }
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    a {
      color: #fff;
      font-weight: 100;
      font-size: 0.8rem;
    }
  }
}

.footer-bottom {
  padding: 20px;
  color: #fff;
  background-color: #00539b;
  font-size: 0.8rem;
}

@media (min-width: 1200px) {
  // .container {
  //   max-width: 1024px;
  // }
}

.tab-bar {
  background-color: #0a50a0;
  background: linear-gradient(#00539B, #002A4E);
  padding: 20px;
  margin-top: 2px;
  color: #fff;
  .nav-tabs {
    border: 0px;
  }
}

.transfer {
  .nav-tabs .nav-item {
    margin-bottom: -3px;
  }
  .nav-link {
    color: #6e6e6e;
    padding: 25px 10px 15px 50px;
    background-image: url(../images/grey-tab.png);
    border: 0px;
    width: 244px;
    position: relative;
    margin-left: -50px;
    text-align: left;
    z-index: 1;
  }
  .nav-item:first-child .nav-link {
    color: #6e6e6e;
    padding: 25px 10px 15px 50px;
    background-image: url(../images/grey-tab.png);
    border: 0px;
    width: 244px;
    position: relative;
    margin-left: -50px;
    text-align: left;
    z-index: 1;
    background-image: url(../images/grey-first.png);
  }
  .nav-link.active {
    color: #fff;
    border: 0px;
    background-image: url('../images/blue-tab.png');
    background-color: transparent;
    color: #ffda19;
  }
  .nav-item:first-child .nav-link {
    &.active {
      background-image: url(../images/blue-first-active.png);
      color: #ffda19;
    }
    margin-left: 0px;
  }
}

.custom-tab-content {
  background-color: #fff;
  border-bottom: 2px solid $secondary-color;
  .tab-content {
    padding: 20px;
  }
  select, textarea , input:not([type=radio]) {
    width: 100%;
  }
  label {
    font-size: 0.9rem;
  }
}

.navbar-toggler-icon {
  color: #fff;
  margin-top: 6px;
}

.transfer #myTab {
  display: flex;
}

#mobile-drop-down {
  background-color: #0a50a0;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.account-details
{
  background-image: linear-gradient(#569FF0,#064895);
  font-size: $account-info-font-size;
}

.account-charts
{
  border-left:1px solid #fff;
}

@media (max-width: 992px) {
  #mobile-drop-down { 
    display: block;
  }
  .menu nav {
    background-color: rgba(0, 83, 155, 0.9);
    z-index: 9;
  }
  .transfer {
    #myTab {
      background-color: #fff;
      display: none;
      -webkit-box-shadow: 0px 1px 5px 1px #cccccc;
      -moz-box-shadow: 0px 1px 5px 1px #cccccc;
      box-shadow: 0px 1px 5px 1px #cccccc;
    }
    .nav-item a {
      background-color: #fff;
      background-image: none;
      margin-left: 0px;
      color: #003064;
      &.active {
        background-color: #fff;
        background-image: none;
        margin-left: 0px;
        color: #003064;
      }
    }
  }
}