@import "variables";
@import "utility";
@import "mixins";
@import "typography";
@import "button";
@import "checkbox";
@import "components/card";
@import "components/sideNavs";
@import "components/sideNavs";
@import "components/stickyNav";
@import "components/greetingWidget";
@import "components/tabNavs";
@import "components/breadcrumb";
@import "components/message";
@import "components/notifications";
@import "components/material";
@import "components/modal";
@import "components/courasel";
@import "login";
@import "form";

body {
  background-color: $page-background-color;
  font-family: $page-font;
}

#logo {
  padding: 5px;
  width: 80%;
}

.bg-grey {
  background: #e9ecef;
}

.w-auto
{
  width:auto !important;
}
.w-60
{
  width:60%;
}

.text-white a
{
  color:#fff;
}


.fas {
  margin-right: 5px;
}
.text-hightlight
{
  color:$yellow;
}
.border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.shadow {
   -webkit-box-shadow: 0px 1px 5px 1px $card-shadow;
  -moz-box-shadow: 0px 1px 5px 1px $card-shadow;
  box-shadow: 0px 1px 5px 1px $card-shadow;
}

.top-banner {
  background-color: $white;
  padding: 20px;
}

.search {
  input {
    border-radius: 40px;
    height: 42px;
    width: 100%;
    border: 1px solid #828080;
    padding-left: 20px;
  }
  i {
    position: absolute;
    left: 35px;
    top: 18px;
  }
}

.bottom-banner {
  background-image: url('../images/newsbg.png');
  min-height: 200px;
  background-color: #00539b;
  width: 100%;
}

.menu {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  .nav-link {
    color: $white;
    font-family: $page-font;
    font-weight: 100;
  }
  .nav-item {
    padding-right: 40px;
  }
}

.page-title {
  margin-top: 46px;
}

.page-title-heading, .page-title-sub-heading {
  color:  $white;
  font-weight: 100;
}

.content {
  padding-top: 40px;
}


#accordion .card-header
{
  cursor: pointer;
}

.gradient-panel
 {
  background: linear-gradient(#00539B, #002A4E);;
 }

.panel-header,
.panel-header-sm {
  background: linear-gradient(#00539B, #002A4E);
  padding: 20px;
  font-weight: 100;
  color: #fff;
  font-size: 22px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.panel-header-sm {
  padding: 7px 10px;
  font-size: 1em;
}

.nav-link .fa-chevron-right {
  float: right;
}

.btn-primary {
  background: #00539b;
}

.promotiojn {
  margin-top: 40px;
  margin-bottom: 30px;
  background-image: url('../images/promo.png');
  padding: 40px 40px 20px 40px;
}

.promo-heading {
  font-weight: 100;
}

.promo-caption {
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 14px;
}

.custom-slide {
  margin-right: 20px;
  img {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-topright: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 200px;
  }
}

.slide-title {
  background-color: #fff;
  padding: 20px;
  color: #003064;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-bottom-right-radius: 30px;
  -webkit-border-bottom-left-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  -moz-border-radius-bottomleft: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.contact-info {
  background-color:$midnight-blue;
  width: 100%;
  padding: 18px;
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-icons {
  height: 40px;
  margin-right: 10px;
  margin-top: -3px;
}

.contact-info-title {
  font-weight: bold;
}

.contact-info-desc {
  font-weight: 100;
}

.footer {
  background-color: #383737;
  padding: 30px;
  h5 {
    color: #fff;
  }
  ul {
    padding: 0px;
  }
  li {
    list-style: none;
    a {
      color: #fff;
      font-weight: 100;
      font-size: 0.8rem;
    }
  }
}

.footer-bottom {
  padding: 20px;
  color: #fff;
  background-color: #00539b;
  font-size: 0.8rem;
}


.navbar-toggler-icon {
  color: #fff;
  margin-top: 6px;
}

#mobile-drop-down {
  background-color: #0a50a0;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.light-blue-gradient
{
  background-image: linear-gradient(to bottom, #569ff0, #458ada, #3475c5, #2261af, #0a4d9a);
}

.left-border-white
{
  border-left:1px solid $white;
}

.has-tip::after
{
  font-family: FontAwesome;
    content: "\f163";
}


#up-arrow{
  display: none;
}

.switch-token{
  font-size: 70px !important;
}
.fa-arrow-circle-right{
  font-size: 35px;
}
.switch-label{
  font-size: 15px !important;
}

@media only screen and (min-width: 320px) and (max-width: 992px)
{
  #mobile-drop-down {
    display: block;
  }
  .menu nav {
    background-color: rgba(0, 83, 155, 0.9);
    z-index: 9;
  }
  .transfer {
    #myTab {
      background-color: #fff;
      display: none;
      -webkit-box-shadow: 0px 1px 5px 1px #cccccc;
      -moz-box-shadow: 0px 1px 5px 1px #cccccc;
      box-shadow: 0px 1px 5px 1px #cccccc;
    }
    .nav-item a {
      background-color: #fff;
      background-image: none;
      margin-left: 0px;
      color: #003064;
      &.active {
        background-color: #fff;
        background-image: none;
        margin-left: 0px;
        color: #003064;
      }
    }

  }

  .inner-table,.bill-summary{
    display: none !important;
  }
  #up-arrow{
    display: block;
    text-align: center;
    color: $deep-saphire;
  }
  .switch-token{
    font-size: 50px !important;
  }
  .fa-arrow-circle-right{
    font-size: 35px;
  }
  .switch-label{
    font-size: 10px !important;
  }
  .second-thing, #dashboard-accounts{
    order:2;
  }

}

#profile-img{
  height: 171px;
  width: 171px;
  border: 3px solid white;
}
.text-down{
  margin-bottom: 5%;
}

.RSA-container {
      margin-top: 3% !important;
      border-radius: 5px !important;
      background-color: #B7B7B7;
      border: 15px solid #B7B7B7;
      width: 100% !important;
      height: 70% !important;
      #RSA-img{
          width: 68.5px !important;
          height: 38px !important;
          //margin-left: -4.5%;
      }
      .RSA-line{
          border-left: 3px solid black !important;
          height: 38px !important;
          //margin-left: -65%;
      }
      #RSA-input{
        width: 72% !important;
        //margin-left: -32%;
      }
  }
  // .input-group-prepend{
  //     width: 100%;
  // }


.bullet-list{
  font-size: 0.3em;
}

.color-change{
  color:#0a386e;
  span{
    color: black;
  }
}

.port-image {
  width: 100%;
}

.gallery_product {
  margin-bottom: 10px;
}

.pointer{
  cursor: pointer;
}

.img-size{
  width: 250px;
  height: 220px;
}

.imageandtext {
  position: relative;
}
.image_grid {
  display: inline-block;
  padding-left: 5px;

}
.image_grid img {                       /*  added rule  */
  display: block;
}

.image_grid input {
  display: none;
}
.image_grid input:checked + .caption::after {
  content: '✔';
  position: absolute;
  top: 10%; left: 90%;
  width: 25px; height: 25px;
  transform: translate(-50%,-50%);
  color: white;
  background-color: #004785;
  font-size: 15px;
  text-align: center;
  border: 1px solid #004785;
  border-radius: 50%;
}
