<div class="card card-sm card-hover">
    <div class="card-body text-brand text-right">
        <div class="row">
            <div class="col-sm">
                <div class="text-extra-light text-xs"><%= account.type %> A/C Number</div><%= account.number %>
            </div>
            <div class="col-sm">
                <div class="text-extra-light text-xs">Balance</div><%= account.balance %>
            </div>
            <div class="col-sm">
                <div class="text-extra-light text-xs">Balance At</div><%= account.balanceAt %>
            </div>
            <div class="col-sm">
                <button class="btn btn-outline-brand btn-border">Details</button>
            </div>
        </div>
    </div>
</div>