<a href="#">
<div class="bank-cards shadow">
        <div class="row">
            <div class="col-sm-6 col-md">
                <div class="account-data-label"><%= account.type %> A/C Number</div>
                <div class="account-data text-sm-right"><%= account.number %></div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-6 col-md">
                <div class="account-data-label">Balance</div>
                <div class="account-data text-sm-right"><%= account.balance %></div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-6 col-md">
                <div class="account-data-label">Balance At</div>
                <div class="account-data text-sm-right"><%= account.balanceAt %></div>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-6 col-md">
                <button class="float-right btn btn-primary-custom">Details</button>
            </div>
        </div>

    </div>
    </a>