<div class="tab-navs">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link <% if (active == 'ncb') { %> active <% } %>" href="#">NCB Accounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active == 'other') { %> active <% } %>" href="#">Other Bank Accounts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <% if (active == 'international') { %> active <% } %>" href="#">International Accounts</a>
        </li>
    </ul>

    <div class="card">
        <div class="card-header"><%= title %></div>
    </div>
</div>