<div>
	<div class="card sticky-nav">
		<div class="card-header card-header-sm">Content</div>
		<div class="card-body text-default">
			<nav class="nav flex-column">
				<a class="nav-link" href="example-cards.html">Cards</a>
				<a class="nav-link" href="example-side-navs.html">Side Navigation</a>
				<a class="nav-link" href="example-sticky-nav.html">Sticky Nav</a>
				<a class="nav-link" href="example-tab-navs.html">Tab Navs</a>
				<a class="nav-link" href="example-greeting-widget.html">Greeting Widget</a>
				<a class="nav-link" href="#">Utilities</a>
			</nav>
		</div>
	</div>
</div>