<div class="card card-sm card-hover">
	<div class="card-body text-brand text-sm-right">
		<div class="row">
			<div class = "col-sm">
				<div class = "row">
					<div class="col">
						<div class="text-extra-light text-xs" id="a-c-number">Nickname</div><%= account.nickname %>
					</div>
					<div class="col">
						<div class="text-extra-light text-xs" id="balance">A/C Number</div><%= account.number %>
					</div>
				</div>
			</div>
			<div class ="col-sm">
				<div class = "row">
					<div class="col">
						<div class="text-extra-light text-xs" id="balance-at">Balance</div><%= account.balance %>
					</div>
					<div class="col">
						<div class="text-extra-light text-xs" id="balance-at">Balance as At</div><%= account.balanceAt %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
