<ul class="nav">
    <li class="nav-item">
        <a class="nav-link <% if (active == 'profile') { %> active <% } %>" href="myprofile.html#profile-tabs">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'change-passwords') { %> active <% } %>" href="#">Edit Passwords</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'edit-security-details') { %> active <% } %>" href="#">Edit Security Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'switch-token-type') { %> active <% } %>" href="switch-token-type-step1.html#profile-tabs">Switch Token Type</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'RSA') { %> active <% } %>" href="rsa-set-pin-step1.html#profile-tabs">RSA Set Pin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'switch-software-token-') { %> active <% } %>" href="">Switch Software Token</a>
    </li>
</ul>
