<ul class="nav">
    <li class="nav-item">
        <a class="nav-link <% if (active == 'profile') { %> active <% } %>" href="#">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'change-passwords') { %> active <% } %>" href="#">Edit Passwords</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'edit-security-details') { %> active <% } %>" href="#">Edit Security Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'switch-token-type') { %> active <% } %>" href="#">Switch Token Type</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'RSA') { %> active <% } %>" href="#">RSA Set Pin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'switch-software-token-') { %> active <% } %>" href="#">Switch Software Token</a>
    </li>
</ul>
