
<div class="RSA-container">
   <div class="row">
       <div class ="col-2">
         <img id="RSA-img" src="images/rsa-icon.png">
       </div>
       <div class="col-1">
         <div class="RSA-line"></div>
       </div>
       <div class="col-8 pull-left">
           <div class="input-group input-group-sm mb-3">
               <form>
                   <div class="input-group-prepend">
                       <input id="RSA-input" placeholder="PIN + RSA Secure ID Token Code" type="text" class="form-control">
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>
