 <div class="row-pull-4">
        <div class="col color">

          <div class="row">
            <div class="col-pull-4">
                    <img id="RSA-img" src="images/rsa-icon.png">

            </div>
            <div class="col-pull-4">
            <div class="RSA-line"></div>
        </div>

            <div class="col">
                    <input id="RSA-input" placeholder="PIN + RSA Secure ID Token Code" type="text" class="form-control">
            </div>

          </div>
        </div>
      </div>
