<ul class="nav">
    <li class="nav-item">
        <a class="nav-link <% if (active == 'self') { %> active <% } %>" href="transfers-self-step1.html#transfer-tabs">NCB Self Transfer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'third') { %> active <% } %>" href="transfers-third-party-step1.html#transfer-tabs">NCB Third Party</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'other') { %> active <% } %>" href="transfers-other-bank-step1.html#transfer-tabs">Other Bank Transfer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'international') { %> active <% } %>" href="transfers-intl-wire-step1.html#transfer-tabs">International Wire</a>
    </li>
</ul>
