<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link <% if (active == 'self') { %> active <% } %>" id="home-tab" href="transfers-self-step1.html">NCB Self Transfer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'third') { %> active <% } %>" id="profile-tab" href="transfers-third-party-step1.html">NCB Third Party</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'other') { %> active <% } %>" id="other-bank" href="transfers-other-bank-step1.html">Other Bank Transfer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active == 'international') { %> active <% } %>" id="international" href="transfers-intl-wire-step1.html">International Wire</a>
    </li>
</ul>