<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5>Account Settings</h5>
                <ul>
                    <li>
                        <a href="#">Set Alerts</a>
                    </li>
                    <li>
                        <a href="#">Customize Accounts</a>
                    </li>
                    <li>
                        <a href="#">Manager Users</a>
                    </li>
                    <li>
                        <a href="#">Go Paperless</a>
                    </li>
                    <li>
                        <a href="#">My Profile</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Open New Accounts</h5>
                <ul>
                    <li>
                        <a href="#">Bank Account Application</a>
                    </li>
                    <li>
                        <a href="#">Credit Card Application</a>
                    </li>
                    <li>
                        <a href="#">Capital Market Account Application</a>
                    </li>
                    <li>
                        <a href="#">Loan Application</a>
                    </li>
                    <li>
                        <a href="#">Insurance Plan Application</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Services</h5>
                <ul>
                    <li>
                        <a href="#">Accounts</a>
                    </li>
                    <li>
                        <a href="#">Pay Bills</a>
                    </li>
                    <li>
                        <a href="#">Transfer Money</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5>Help</h5>
                <ul>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">How To Guides</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                Copyright 1999-2018 NCB Jamaica. All Rights Reserved
            </div>
            <div class="col-sm-3">
                Privacy Policy | Terms of Use
            </div>
            <div class="col-sm-3">
                Members of:
            </div>

        </div>
    </div>
</div>