<!DOCTYPE html>
<html>
<head>
	<title><%=title +" - "+ page_title%></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('links.html'); %>
    <%- include('favicon.html'); %>
</head>
<body>
    <div class="top-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <img src="/images/ncb-logo.png" id="logo"  alt="ncb logo"/>
                </div>
                <div class="col-sm-6 col-md-4">
                        <div class="search mt-1">
                                <i class="fas fa-search text-muted"></i>
                                <input type="text" class="pl-5" placeholder="Search">
                            </div>          
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="text-sm mt-3 text-center">Hello, Kori Solomon</div>
                </div>
                <div class="col-sm-2 col-md-1">
                    <div class="mt-3 text-center">
                        <i class="fas fa-envelope"></i>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="text-sm mt-3 text-center">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </div>
                </div>
            </div>
        </div>
    </div>
            
    <div class="bottom-banner">
        <div class="menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-expand-lg ">                  
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Accounts
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="account-details-Deposited-Cheques.html">Accounts Deposited Cheques</a>
                                            <a class="dropdown-item" href="account-details-temporary-overdraft-inquiry.html">Accounts Temporary Overdraft</a>
                                            <a class="dropdown-item" href="account-details-transaction-Query.html">Accounts transaction Query</a>
                                            <a class="dropdown-item" href="credit-card-details.html">Credit Card Accounts</a>
                                            <a class="dropdown-item" href="loan-details.html">Loan Accounts</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Transfers
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="transfers-self-step1.html">Transfer Funds</a>
                                            <a class="dropdown-item" href="beneficiaries-ncb.html">Manage Beneficiaries</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="/bill-payments.html">Bill Payment</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="/example-cards.html">Documentation</a>
                                    </li>
                                    <!-- <li class="nav-item dropdown">
                                        <a class="nav-link" target="_blank" href="https://craigleslie.typeform.com/to/t6iJbw">Give Feedback</a>
                                    </li> -->
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2 col-md-1">
                        <img src="<%= page_icon %>" style="height: 68px;margin-top: -4px;" />
                    </div>
                    <div class="col-sm-10 col-md-11">
                        <h6 class="page-title-sub-heading"><%= title %></h6>
                        <h2 class="page-title-heading"><%= page_title %></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
