<!DOCTYPE html>
<html>
<head>
	<title><%=title +" - "+ page_title%></title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%- include('links.html'); %>
    <%- include('favicon.html'); %>
</head>
<body>
<div class="top-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img src="/images/ncb-logo.png" id="logo"  alt="ncb logo"/>
            </div>
            <div class="col-sm-12 col-md-4">
                <input type="text" class="search" placeholder="Search" />
            </div>
            <div class="col-2">
                <div class="welcome-message">Hello, Kori Solomon</div>
            </div>
            <div class="col-1">
                <div class="notification">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <div class="col">
                <div class="logout">
                    <i class="fas fa-sign-out-alt"></i> Logout</div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-banner">
    <div class="menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <nav class="navbar navbar-expand-lg ">
                   
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">
                                        Accounts
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/transfers-self-step1.html">Transfers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/beneficiaries.html">Beneficiaries</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="/bill-payments.html">Pay Bills</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Template Examples
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="example-cards.html">Cards</a>
                                        <a class="dropdown-item" href="example-side-navs.html">Side Navigation</a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="page-title">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-1">
                    <img src="<%= page_icon %>" style="height: 68px;margin-top: -4px;" />
                </div>
                <div class="col-sm-10 col-md-11">
                    <h6 class="page-title-sub-heading"><%= title %></h6>
                    <h2 class="page-title-heading"><%= page_title %></h1>
                </div>

            </div>

        </div>
    </div>
</div>

