
<script src="../js/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
    crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" />  -->
<script src="../js/owl.carousel.min.js"></script>

<script>
    $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            number: 5,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }

        });

        $(document).ready(function () {
            $('#accordion .card-header').click(function (e) {
               var cardValue =$(this);
               if(cardValue.hasClass(".card-header-inv"))
               {
                    $("#accordion .card-header").addClass("card-header-inv");
               }
               else
               {
                    cardValue.removeClass("card-header-inv");
               }
              $(".card[aria-expanded=true] .card-header").addClass("card-header-inv");
            });          
        });
    });
</script>