// Card
.card {
	border: $card-border-width;
	background: $card-background-color;
	margin-bottom: $card-margin-bottom;
	box-shadow: $card-shadow;
    border-radius: $card-border-radius;
    .btn {
    	border-width: 0;
    }
    .btn-border {
    	border-width: 1px;
    }
}

.card-sm .card-body {
    padding: $card-sm-card-body-padding;
}

.card-hover {
	@include transition($card-hover-transition-delay);
	&:hover {
		z-index: 10;
		box-shadow: $card-hover-shadow;
	}
}

.card-bordered {
	border-radius: 0 !important;
	.card-header,
	.card-body {
		border-radius: 0 !important;
		border-bottom: $card-bordered-card-body-border-bottom;
	}
}

.card-no-shadow {
	box-shadow: none;
	border: 1px solid #ced4da;
}

.card-header {
	flex: 1 1 auto;
    padding: $card-header-padding;
    background: $card-header-background-color;
    color: $card-header-text-color;
    font-size: $card-header-font-size;
    font-weight: $card-header-font-weight;
    border-radius: $card-header-border-radius;
}
.card-header-secondary
{
	background: $card-header-secondary;
}

.card-header-inverse {
    color: $brand-color;
    background: $white;
    font-weight: $card-header-inv-font-weight;
}

.card-header-sm {
    padding: $card-header-sm-padding;
    font-size: $card-header-sm-font-size;
}

img.card-header-icon {
	height: $card-header-icon-img-height;
	margin: $card-header-icon-img-margin;
}

i.card-header-icon {
	margin: $card-header-icon-i-margin;
	font-size: $card-header-icon-i-font-size;
}

.card-header-button {
	float: right;
	font-size: $card-header-button-font-size;
	padding: $card-header-button-padding;
	margin: $card-header-button-margin;
	i {
		margin: $card-header-button-icon-margin;
	}
	&.btn-no-fill {
		font-size: $card-header-button-no-fill-font-size;
		padding: $card-header-button-no-fill-padding;
		font-weight: $card-header-button-no-fill-font-weight;
	}
}