.material .group {
  position: relative;
  margin-bottom: 26px;
}
.material input[type='text'], .material input[type='password'] {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid #969494;
  background: transparent;
}
.material input:focus {
  outline: none;
}
.material label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
}
.material input:focus ~ label, .material input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
.material .bar {
  position: relative;
  display: block;
  width: 100%;
}
.material .bar:before, .material .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
}
.material .bar:before {
  left: 50%;
}
.material .bar:after {
  right: 50%;
}
.material input:focus ~ .bar:before, .material input:focus ~ .bar:after {
  width: 50%;
}
.material .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.material input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

.material-textbox i {
  margin-top: -27px;
}

@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}