.navbar-top {
	background-color: $navbar-top-background-color;
	padding: $navbar-top-padding;
}

.navbar-bottom {
  background-image: $navbar-bottom-background-image;
  min-height: $navbar-bottom-min-height;
  background-color: $navbar-bottom-background-color;
  width: $navbar-bottom-width;
}

.navbar-logo {
	display: inline-block;
	max-height: $navbar-logo-max-height;
	height: $navbar-logo-height;
	width: $navbar-logo-width;
}

.navbar-search {
	input {
		border-radius: $navbar-search-input-border-radius;
		height: $navbar-search-input-height;
		width: $navbar-search-input-width;
		border: $navbar-search-input-border;
		padding: $navbar-search-input-padding;
	}
	i {
		position: absolute;
		left: $navbar-search-icon-left;
		top: $navbar-search-icon-top;
		color: $navbar-search-icon-color;
	}
}

.navbar-notification {
	@extend .text-lg;
	display: inline-block;
	position: relative;
	&:last-child {
		margin-left: $navbar-notification-last-margin-left;
	}
	&.active:after {
		content: "";
		position: absolute;
		height: $navbar-notification-alert-height;
		width: $navbar-notification-alert-width;
		border-radius: $navbar-notification-alert-border-radius;
		background: $navbar-notification-alert-background-color;
		border: $navbar-notification-alert-border;
		top: $navbar-notification-alert-top;
		right: $navbar-notification-alert-right;
	}
}

.navbar-profile-img {
	height: $navbar-profile-img-height;
	width: $navbar-profile-img-width;
	border-radius: $navbar-profile-img-border-radius;
	margin-left: $navbar-profile-img-margin-left;
}

.navbar-nav-container {
	height: $navbar-nav-container-height;
	background-color: $navbar-nav-container-background-color;

	.nav-link {
		color: $navbar-nav-container-nav-link-text-color;
		font-weight: $navbar-nav-container-nav-link-font-weight;
		padding: $navbar-nav-container-nav-link-padding;
	}

	.nav-item {
		margin: $navbar-nav-container-nav-item-margin;
	}

	.dropdown-menu {
		border-radius: $navbar-nav-container-dropdown-menu-border-radius;
		margin: $navbar-nav-container-dropdown-menu-margin;

		&:after {
			content: "";
			position: absolute;
			top: $navbar-nav-container-dropdown-menu-arrow-top;
			left: $navbar-nav-container-dropdown-menu-arrow-left;
			height: $navbar-nav-container-dropdown-menu-arrow-height;
            width: $navbar-nav-container-dropdown-menu-arrow-width;
			background: $navbar-nav-container-dropdown-menu-arrow-background-color;
			@include skew(50% 0, 50% 0, 100% 100%, 0 100%);
		}
	}

	.dropdown-item {
		border-left: $navbar-nav-container-dropdown-item-border-left;

		&:hover {
			border-color: $navbar-nav-container-dropdown-item-hover-border-color;
		}
	}
}

.navbar-collapse {
	.dropdown:hover > .dropdown-menu {
    	display: block;
	}

	.dropdown > .dropdown-toggle:active {
	    pointer-events: none;
	}
}

.navbar-nav-responsive {
    position: fixed;
    overflow-x: hidden;
    width: 0;
    height: $navbar-nav-responsive-height;
    z-index: $navbar-nav-responsive-z-index;
    top: $navbar-nav-responsive-top;
    left: $navbar-nav-responsive-left;
    background-color: $navbar-nav-responsive-background-color;
    transition: $navbar-nav-responsive-transition-delay;
    padding-top: $navbar-nav-responsive-padding-top;

    &.active {
    	width: $navbar-nav-responsive-active-width;
    }

    .nav {
    	width: $navbar-nav-responsive-active-width;
    }

    .nav-item {
    	border-bottom: $navbar-nav-responsive-nav-item-border-bottom;
    	width: $navbar-nav-responsive-nav-item-width;
    }

    .dropdown-toggle:after {
    	position: absolute;
    	right: $navbar-nav-responsive-dropdown-toggle-chevron-right;
    	top: $navbar-nav-responsive-dropdown-toggle-chevron-top;
    }

	.dropdown-menu {
		min-width: $navbar-nav-responsive-dropdown-menu-min-width;
	}

    .navbar-action-links,
    .navbar-profile {
    	width: $navbar-nav-responsive-navbar-profile-width;

    	.text-dark {
	    	color: $navbar-nav-responsive-navbar-profile-text-color;
	    }
    }
}

.navbar-nav-close {
    position: absolute;
    display: block;
    top: $navbar-nav-close-top;
    right: $navbar-nav-close-right;
    padding: $navbar-nav-close-padding;
    font-size: $navbar-nav-close-font-size;
    color: $navbar-nav-close-text-color;
    transition: $navbar-nav-close-transition-delay;

    &:hover,
	&:active,
	&:focus {
		text-decoration: none;
	    color: $navbar-nav-close-hover-text-color;
	}
}

.navbar-page-heading {
	padding: $navbar-page-heading-padding;
	color: $navbar-page-heading-text-color;
}

.navbar-page-icon {
	height: $navbar-page-icon-height;
	width: $navbar-page-icon-width;
}

@media only screen and (max-width: 768px) {
	.navbar-logo {
		margin-bottom: 10px;
	}
}