    <%
    let utilityBills = [
        {
            name: 'Electricity bill',
            account_number: '30300234',
        },
        {
            name: 'Water bill',
            account_number: '40421321312290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },
        {
            name: 'Phone bill',
            account_number: '303546564290',
        },

    ];
%>

    <%- include('partials/header.html', {title: "Bill Payments", page_title: "Pay Bills", page_icon: "images/bill-payments-icon.png"}) %>

    <div class="content">
        <div class="container">
            <div class="row sticky-nav-wrapper">
                <div class="col-lg-8">

                    <div class="card">
                        <div class="card-header">
                            Utility Bills
                            <a href="/bill-payments-add-payee-step1.html" class="card-header-button btn btn-no-fill text-white"><i class="fa fa-plus-circle"></i> Add Bill Payee</a>
                        </div>
                    </div>

                    <div class="alert alert-primary">
                        <span class="text-sm font-weight-bold">Please specify the payment amount in USD for payments from USD Accounts/Credit Cards</span>
                    </div>

                    <% utilityBills.forEach(function(bill){ %>
                        <%- include('components/utilityBill.html', {bill: bill}); %>
                    <% }); %>
                </div>

                <div class="col-lg-4">
                    <div>
                        <div class="card sticky-nav">
                          <div class="card-header bill-summary">Bill Summary</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                  <div  onclick="myFunction()"><i class="fas fa-sort-up"  id="up-arrow"></i></div>
                                    <table class="table table-striped table-sm fixed ">
                                        <div class="hide">
                                        <thead class="inner-table">
                                            <tr class="text-brand text-md">
                                                <th>Utility Bill</th>
                                                <th class="text-right">Payment</th>
                                            </tr>
                                        </thead>
                                        <tbody class="inner-table">
                                            <tr>
                                                <td class="font-weight-bold">Electricity bill</td>
                                                <td class="text-right">$ 12,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Water bill</th>
                                                <td class="text-right">$ 15,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>
                                            <tr>
                                                <th>Phone bill</th>
                                                <td class="text-right">$ 6,000.00</td>
                                            </tr>


                                        </tbody>
                                    </div>
                                        <table class="table table-sm" id="outer">
                                            <tr>
                                                <th class="text-brand">Total Payment</th>
                                                <td class="text-right bg-dark text-white">$ 33,000.00 JMD</td>
                                            </tr>
                                        </table>
                                    </table>
                                </div>

                                <a href="#" class="btn btn-warning btn-block font-weight-bold">Go to next Step</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/contact.html') %>
        </div>

        <%- include('partials/footer.html') %>
    </div>

    <%- include('partials/scripts.html'); %>
</body>
</html>
