    <%- include('partials/header.html', {title: "Bill Payments", page_title: "Add Payee", page_icon: "images/bill-payments-icon.png"}) %>
    
    <div class="content">
        <div class="container">

            <div class="card">
                <div class="card-header">
                    Step 1 of 4 - Add Payee
                    <div class="text-sm mt-2">To add a payee you first must select a payee from the available payees below.</div>
                    <div class="text-sm">Select a category to see all payees available in that category. Selecting ALL CATEGORIES will return a list of all Payees availableto you.</div>
                </div>
                <div class="card-body">
                    <div class="w-50">
                        <label class="text-sm text-uppercase">Payee Business Category</label>
                        <select class="form-control">
                            <option>All Categories</option>
                            <option>Something</option>
                            <option>Something</option>
                            <option>Something</option>
                            <option>Something</option>
                            <option>Something</option>
                        </select>
                    </div>

                    <div class="text-right">
                        <a href="bill-payments.html" class="btn btn-secondary pl-5 pr-5 btn-sm">Cancel</a>
                        <a href="bill-payments-add-payee-step2.html" class="btn btn-primary pl-5 pr-5 btn-sm">Next Step</a>
                    </div>
                </div>
            </div>

            <%- include('partials/contact.html') %>
        </div>

        <%- include('partials/footer.html') %>
    </div>

    <%- include('partials/scripts.html'); %>
</body>
</html>