<%- include('partials/header.html', {title: "Messages", page_title: "My Profile", page_icon: "images/transfers-icon.png"}) %>

<div class="content">
    <div class="container">

        <div class="tab-navs" id="transfer-tabs">

            <%- include('components/profile-tabs.html', {active: "change-passwords"}) %>

            <div class="card card-bordered">
                <div class="card-header">
                    Change Login Passwords
                </div>
                <div class="card-body">
                    <div class="alert alert-primary">
                        <span class="text-md">Please note the following</span><br>
                        <i class="fas fa-circle bullet-list"></i><span class="text-sm">The password cannot consist of all characters in your Username. For e.g. if your Username is "Bob", then your password cannot be "Bobby".</span><br>
                        <i class="fas fa-circle bullet-list"></i><span class="text-sm">A combination of letters and numbers must be used.</span><br>
                        <i class="fas fa-circle bullet-list"></i><span class="text-sm">Spaces are not allowed in the password.</span><br>
                        <i class="fas fa-circle bullet-list"></i><span class="text-sm">Special symbol such as:- $,#,^,@,&,%,!,?,* is required.</span><br>
                        <i class="fas fa-circle bullet-list"></i><span class="text-sm">The password should contain a minimum of 8 characters and a maximum of 28 characters.</span><br>
                        <i class="fas fa-circle bullet-list"></i><span class="text-sm">Password is case sensitive.</span>
                    </div>
                    <div class="alert">
                    <span class="text-md color-change">Change My Transaction Password</span><br><br>
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-sm">Current Password</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-sm">New Password</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label text-sm">Retype New Password</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control">
                            </div>
                        </div>


                        <div class="text-right">
                            <a href="change-password-step2.html" class="btn pl-3 pr-3 btn-sm btn-secondary btn-border">Back</a>
                            <a href="#" class="btn pl-3 pr-3 btn-sm btn-primary">Change</a>
                        </div>

                    </form>






                </div>
                </div>
            </div>
        </div>

        <%- include('partials/contact.html') %>
    </div>

    <%- include('partials/footer.html') %>
</div>

<%- include('partials/scripts.html'); %>
</body>
</html>
