  <%- include('partials/header.html', {title: "My Profile", page_title: "Change Passwords Confirmation", page_icon: "images/transfers-icon.png"}) %>

<div class="content">
    <div class="container">

        <div class="tab-navs" id="transfer-tabs">

            <%- include('components/profile-tabs.html', {active: "change-passwords"}) %>

            <div class="card card-bordered">
                <div class="card-header">
                    Change Passwords
                </div>
                <div class="card-body">
                    <p class="p-1 radius-4 text-white bg-blue-extra-light">Number of days till expiry is 361</p>
                        <div class="text-default m-3">
                            <a href="change-password-step2-login.html#profile-tabs" class="text-brand">Change My Login Password</a>
                        </div>

                    <p class="p-1 radius-4 text-white bg-blue-extra-light">Number of days till expiry is 361</p>
                        <div class="text-default m-3">
                            <a href="change-password-step2-transaction.html#profile-tabs" class="text-brand">Change My Transaction Password</a>
                        </div>
                </div>
            </div>
        </div>

        <%- include('partials/contact.html') %>
    </div>

    <%- include('partials/footer.html') %>
</div>

<%- include('partials/scripts.html'); %>
</body>
</html>
