<%
    let bankAccounts = [
        {
            type: 'Savings',
            number: '303***290',
            balance: '$506,000',
            balanceAt: 'May 08, 2018'
        },
        {
            type: 'Savings',
            number: '404***290',
            balance: '$290,000,000',
            balanceAt: 'May 08, 2018'
        },
        {
            type: 'Chequing',
            number: '303***290',
            balance: '$1,000,000',
            balanceAt: 'May 08, 2018'
        },
]; 
%>
    <%- include('partials/header.html', {title: "Accounts", page_title: "Credit Card Details", page_icon: "images/dashboard.png"}) %>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="light-blue-gradient text-brand text-sm border-radius mb-5 p-4">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Select Other Account</option>
                                            <option>555***4444</option>
                                            <option>555***4444</option>
                                        </select>
                                    </div>
                                    <div>
                                        <div class="font-weight-bold">Nickname</div>
                                        <h5 class="text-white">Jonanthan Dough</h5>
                                    </div>
                                    <div>
                                        <div class="font-weight-bold">Credit Card A/C Number</div>
                                        <h5 class="text-white">303***290</h5>
                                    </div>
                                    <div class="font-weight-bold">Account Status</div>
                                    <h5 class="text-white">Open Account</h5>
                                    <img src="images/keycard.png" class="w-100">
                                </div>
                                <div class="col-sm-8">
                                    <div class="account-charts pl-4">
                                        <div class="form-group">
                                            <select class="form-control float-right w-auto">
                                                <option>Last 6 Months</option>
                                            </select>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-5">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="card">
                                                            <div class="card-body p-1 text-center">
                                                                <i class="fas fa-caret-up fa-lg text-success"></i> Incoming
                                                            </div>
                                                        </div>
                                                        <div class="text-white">$000,000,000</div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="card">
                                                            <div class="card-body p-1 text-center">
                                                                <i class="fas fa-caret-down fa-lg text-danger"></i> Outcoming
                                                            </div>
                                                        </div>
                                                        <div class="text-white">$000,000,000</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3"></div>
                                        <div>
                                            <canvas id="myChart" height="100"></canvas>
                                        </div>
                                        <div class="mb-4"></div>
                                        <div class="row">
                                            <div class="col">
                                                <h5 class="text-white font-weight-light">$0000,000,00
                                                    <span class="text-xs">JMD</span>
                                                </h5>
                                                <div class="text-white">Account Balance</div>
                                            </div>
                                            <div class="col">
                                                <h5 class="text-white font-weight-light">$0000,000,00
                                                    <span class="text-xs">JMD</span>
                                                </h5>
                                                <div class="text-hightlight">Spent Today</div>
                                            </div>
                                            <div class="col">
                                                <h5 class="text-white font-weight-light">$0000,000,00
                                                    <span class="text-xs">JMD</span>
                                                </h5>
                                                <div class="text-hightlight">Spent This Month</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <img src="images/history-icon.png" class="card-header-icon"> Transaction History
                                <select class="form-control float-right w-auto">
                                    <option>Filter</option>
                                    <option>Quick View</option>
                                    <option>Do Quert Transaction</option>
                                </select>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="card card-hover card-sm">
                            <div class="card-body text-brand text-md-right">
                                <div class="row">
                                    <div class="col-sm-4 col-md mb-1">
                                        <div class="text-extra-light text-xs">SI Nummber</div>
                                        78
                                    </div>

                                    <div class="col-sm-4 col-md mb-1">
                                        <div class="text-extra-light text-xs">Post Date</div>
                                        May 12, 2018
                                    </div>
                                    <div class="col-sm-4 col-md mb-1">
                                        <div class="text-extra-light text-xs">Transaction Date</div>
                                        May 12, 2018
                                    </div>

                                    <div class="col-sm-4 col-md-2 mb-1">
                                        <div class="text-extra-light text-xs">Description</div>
                                        Play store purchase
                                    </div>

                                    <div class="col-sm-4 col-md mb-1">
                                        <div class="text-extra-light text-xs">Debt</div>
                                        1,000,000
                                    </div>

                                    <div class="col-sm-4 col-md mb-1">
                                        <div class="text-extra-light text-xs">Credit</div>
                                        1,00000
                                    </div>
                                    <div class=" col-sm-4 col-md mb-1">
                                        <div class="text-extra-light text-xs">Balance</div>
                                        1,00000
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('partials/contact.html') %>
            </div>
            <%- include('partials/footer.html') %>
        </div>
        <%- include('partials/scripts.html'); %>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <script>
                if ($("#myChart").length) {
                    var ctx = $('#myChart')[0].getContext('2d');
                    var myLineChart = new Chart(ctx, {
                        type: 'line',
                        scaleFontColor: 'white',
                        data: {
                            labels: ["January", "February", "March", "April", "May", "June", "July"],
                            datasets: [{
                                backgroundColor: 'transparent',
                                lineTension: 0,
                                data: [0, 10, 5, 2, 20, 30, 45],
                                borderColor: 'white',
                                backgroundColor: 'transparent',
                                borderDash: [5, 5],
                                pointBorderColor: 'blue',
                                pointBackgroundColor: 'blue',
                                pointRadius: 5,
                                pointStyle: 'Rounded'
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            bezierCurve: false,
                            scaleShowHorizontalLines: false,
                            scales: {
                                yAxes: [{
                                    gridLines: {
                                        display: false
                                    },
                                    ticks: {
                                        beginAtZero: true,
                                        fontColor: 'white'
                                    },
                                }],
                                xAxes: [{
                                    gridLines: {
                                        color: 'white',
                                    },
                                    ticks: {
                                        fontColor: 'white'
                                    },
                                }]
                            }
                        }
                    });

                }

            </script>

            </body>

            </html>