<%
    let bankAccounts = [
        {
            type: 'Savings',
            number: '303***290',
            balance: '$506,000',
            balanceAt: 'May 08, 2018'
        },
        {
            type: 'Savings',
            number: '404***290',
            balance: '$290,000,000',
            balanceAt: 'May 08, 2018'
        },
        {
            type: 'Chequing',
            number: '303***290',
            balance: '$1,000,000',
            balanceAt: 'May 08, 2018'
        },
]; 
%>
    <%- include('partials/header.html', {title: "Accounts", page_title: "Credit Card Details", page_icon: "images/dashboard.png"}) %>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="account-details border-radius">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option>Select Other Account</option>
                                        </select>
                                    </div>
                                    <div class="account-details-item">
                                        <div class="account-info">Nickname</div>
                                        <h5 class="color-white">Jonanthan Dough</h5>
                                    </div>
                                    <div class="account-details-item">
                                        <div class="account-info">Credit Card A/C Number</div>
                                        <h5 class="color-white">303***290</h5>
                                    </div>
                                    <div class="account-info">Account Status</div>
                                    <h5 class="color-white">Open Account</h5>
                                    <img src="images/keycard.png">
                                </div>
                                <div class="col-sm-8">
                                    <div class="account-charts">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Select Other Account</option>
                                            </select>
                                        </div>

                                        <div style="height:300px;"></div>
                                        j
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-body">
                            <div class="panel-header">
                                Transaction History
                            </div>
                            <a href="#">
                                <div class="bank-cards shadow">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="account-data-label float-left">SI Number</div>
                                            <div class="account-data text-right float-left">78</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Post Date</div>
                                            <div class="account-data text-right">May 10,2018</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Transaction Date</div>
                                            <div class="account-data text-right">May 12, 2018</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Description</div>
                                            <div class="account-data text-right">Play store purchase</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Debt</div>
                                            <div class="account-data text-right">1,0000,000</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="account-data-label">Credit</div>
                                            <div class="account-data text-right">1,00000</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Balance</div>
                                            <div class="account-data text-right">1,0000</div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="bank-cards shadow">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="account-data-label float-left">SI Number</div>
                                            <div class="account-data text-right float-left">78</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Post Date</div>
                                            <div class="account-data text-right">May 10,2018</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Transaction Date</div>
                                            <div class="account-data text-right">May 12, 2018</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Description</div>
                                            <div class="account-data text-right">Play store purchase</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Debt</div>
                                            <div class="account-data text-right">1,0000,000</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="account-data-label">Credit</div>
                                            <div class="account-data text-right">1,00000</div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="account-data-label">Balance</div>
                                            <div class="account-data text-right">1,0000</div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <%- include('partials/contact.html') %>
            </div>
            <%- include('partials/footer.html') %>
        </div>
        <%- include('partials/scripts.html'); %>
            </body>

            </html>