    <%- include('partials/header.html', {title: "Messages", page_title: "My Profile", page_icon: "images/transfers-icon.png"}) %>

    <div class="content">
        <div class="container">

            <div class="tab-navs" id="transfer-tabs">

                <%- include('components/profile-tabs.html', {active: "edit-security-details"}) %>

                <div class="card card-bordered">
                    <div class="card-header">
                        Update Image and Phrase
                    </div>
                    <div class="card-body">
                        <p class="text-center color-change text-sm font-weight-bold">User Image</p>
                        <p class="text-center color-change text-sm font-weight-bold">User Phrase: <span class="color-change">Cards</span></p>
                        <div class="text-right">
                            <a href="edit-security-details-step2.html" class="btn pl-5 pr-5 btn-sm btn-primary">Continue</a>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('partials/contact.html') %>
        </div>

        <%- include('partials/footer.html') %>
    </div>

    <%- include('partials/scripts.html'); %>
</body>
</html>
