    <%- include('partials/header.html', {title: "My Profile", page_title: "Edit Security Details", page_icon: "images/transfers-icon.png"}) %>

    <div class="content">
        <div class="container">

            <div class="tab-navs" id="transfer-tabs">

                <%- include('components/profile-tabs.html', {active: "edit-security-details"}) %>

                <div class="card card-bordered">
                    <div class="card-header">
                        Edit RSA User Image & User Phrase
                    </div>
                    <div class="card-body">

                                <form>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label text-sm">Image Categories</label>
                                            <div class="col-sm-4">
                                                    <select class="form-control">
                                                            <option>All Categories</option>
                                                            <option>Something</option>
                                                            <option>Something</option>
                                                            <option>Something</option>
                                                            <option>Something</option>
                                                            <option>Something</option>
                                                        </select>
                                            </div>
                                        </div>

                                    </form>

                            <div class="imageandtext image_grid">
                                    <label for="selimg1">
                                      <img src="images/RSA-user-image/RSA-user-image-2.PNG" class="img-responsive center-block port-image card-hover pointer img-thumbnail img-size">
                                    </label>
                                       <input type="radio" name="selimg" id="selimg1">
                                    <div class="caption">
                                    </div>
                            </div>
                                  
                                
                                  <div class="imageandtext image_grid">
                                    <label for="selimg2">
                                      <img src="images/RSA-user-image/RSA-user-image-2.PNG" class="img-responsive center-block port-image card-hover pointer img-thumbnail img-size">
                                    </label>
                                    <input type="radio" name="selimg" id="selimg2">
                                    <div class="caption">            
                                    </div>
                                  </div>


                                  <div class="imageandtext image_grid">
                                        <label for="selimg3">
                                          <img src="images/RSA-user-image/RSA-user-image-2.PNG" class="img-responsive center-block port-image card-hover pointer img-thumbnail img-size">
                                        </label>
                                        <input type="radio" name="selimg" id="selimg3">
                                        <div class="caption">          
                                        </div>
                                      </div>


                                      <div class="imageandtext image_grid">
                                            <label for="selimg4">
                                              <img src="images/RSA-user-image/RSA-user-image-2.PNG" class="img-responsive center-block port-image card-hover pointer img-thumbnail img-size">
                                            </label>
                                            <input type="radio" name="selimg" id="selimg4">
                                            <div class="caption">    
                                            </div>
                                          </div>

                                          
                            <div class="imageandtext image_grid">
                                    <label for="selimg5">
                                      <img src="images/RSA-user-image/RSA-user-image-2.PNG" class="img-responsive center-block port-image card-hover pointer img-thumbnail img-size">
                                    </label>
                                       <input type="radio" name="selimg" id="selimg5">
                                    <div class="caption">
                                    </div>
                            </div>
                                  
                                
                                  <div class="imageandtext image_grid">
                                    <label for="selimg6">
                                      <img src="images/RSA-user-image/RSA-user-image-2.PNG" class="img-responsive center-block port-image card-hover pointer img-thumbnail img-size">
                                    </label>
                                    <input type="radio" name="selimg" id="selimg6">
                                    <div class="caption">            
                                    </div>
                                  </div>


                                  <div class="imageandtext image_grid">
                                        <label for="selimg7">
                                          <img src="images/RSA-user-image/RSA-user-image-2.PNG" class="img-responsive center-block port-image card-hover pointer img-thumbnail img-size">
                                        </label>
                                        <input type="radio" name="selimg" id="selimg7">
                                        <div class="caption">          
                                        </div>
                                      </div>


                                      <div class="imageandtext image_grid">
                                            <label for="selimg8">
                                              <img src="images/RSA-user-image/RSA-user-image-2.PNG" class="img-responsive center-block port-image card-hover pointer img-thumbnail img-size">
                                            </label>
                                            <input type="radio" name="selimg" id="selimg8">
                                            <div class="caption">    
                                            </div>
                                          </div>
                                
                                
                               
                                
                                        </form>


                            <form>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-sm">Enter Phrase Here</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    </form>


                        <div class="text-right">
                            <a href="change-password-step2.html" class="btn pl-3 pr-3 btn-sm btn-secondary btn-border">Back</a>
                            <a href="#" class="btn pl-3 pr-3 btn-sm btn-primary">Save Profile</a>
                        </div>

                    </div>
                </div>
                <%- include('partials/contact.html') %>
            </div>

            <%- include('partials/footer.html') %>
        </div>

        <%- include('partials/scripts.html'); %>
    </body>
    </html>
