<%
    let bankAccounts = [
        {
            type: 'Savings',
            number: '303***290',
            balance: '$506,000',
            balanceAt: 'May 08, 2018'
        },
        {
            type: 'Savings',
            number: '404***290',
            balance: '$290,000,000',
            balanceAt: 'May 08, 2018'
        },
        {
            type: 'Chequing',
            number: '303***290',
            balance: '$1,000,000',
            balanceAt: 'May 08, 2018'
        },
]; 
%>
    <%- include('partials/header.html', {title: "Dashboard", page_title: "Account Summary", page_icon: "images/dashboard.png"}) %>
	
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header accordion-active shadow" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                       <div class="row">
                                           <div class="col">
                                                Bank Accounts
                                           </div>
                                       
                                        <div class="col-3 btn btn-primary"> Accounts
                                            <i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <% bankAccounts.forEach(function(account){ %>
                                        <%- include('components/accountCard.html', {account: account}); %>
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header shadow" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <div class="float-left"> Credit Card Accounts</div>
                                        <div class="float-right btn btn-primary">View Accounts
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="bank-cards shadow">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="account-data-label float-left">Saving A/C Number</div>
                                                <div class="account-data float-left">303****290</div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="account-data-label">Balance</div>
                                                <div class="account-data">$290,000,000</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="account-data-label">Balance At</div>
                                                <div class="account-data">May 08, 2018</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="float-right btn btn-primary-custom">Details</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header shadow" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        NCB Insurance Accounts
                                        <div class="float-right btn btn-primary">View Accounts
                                            <i class="fas fa-chevron-down"></i>
                                        </div>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="bank-cards shadow">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="account-data-label float-left text-uppercase text-sm text-muted">Saving A/C Number</div>
                                                <div class="account-data float-left">303****290</div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="account-data-label">Balance</div>
                                                <div class="account-data">$290,000,000</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="account-data-label">Balance At</div>
                                                <div class="account-data">May 08, 2018</div>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="float-right btn btn-primary-custom">Details</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="weather shadow">
                        <div class="weather-info">
                            <div class="row">
                                <div class="col-lg-8">
                                    <b>Jamaica</b>
                                    <h3>30 C</h3>
                                    <div class="weather-info-date">Thursday, 8:25 AM</div>
                                </div>

                                <div class="col-lg-4">
                                    <img src="images/weather-icon.png" style="width:84px;">
                                </div>
                            </div>
                        </div>
                        <div class="welcome">
                            Good morning,
                            <br>
                            <b>Kori</b>
                        </div>
                    </div>
                    <div class="custom-panel shadow">
                        <div class="panel-header">
                            Quick Links
                        </div>
                        <div class="panel-body">
                            <ul class="nav flex-column quick-links">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Transfer Money <i class="fas fa-chevron-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Transfer Activity <i class="fas fa-chevron-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Automatic Transfers <i class="fas fa-chevron-right"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Add External Transfers <i class="fas fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-7">
                    <div class="custom-panel shadow">
                        <div class="panel-header">
                            Recent Transaction History
                        </div>
                        <div class="panel-body">

                            <table class="table table-hover table-responsive">
                                <tr>
                                    <th>Payee Name</th>
                                    <th>Date</th>
                                    <th>Amount Paid (JMD)</th>
                                </tr>
                                <tr>

                                    <td>
                                        JPS Electrical Bill
                                    </td>
                                    <td>
                                        September 27,2018
                                    </td>
                                    <td>
                                        $000.00
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        JPS Electrical Bill
                                    </td>
                                    <td>
                                        September 27,2018
                                    </td>
                                    <td>
                                        $000.00
                                    </td>
                                </tr>
                            </table>
                            <button type="button" class="float-right btn btn-primary">Pay Bills</button>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="custom-panel shadow">
                        <div class="panel-header">
                            Foriegn Exchange Rates
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover table-responsive">
                                <tr>
                                    <th>Currency</th>
                                    <th>Sell</th>
                                    <th>Buy</th>
                                    <th>Buy</th>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fas fa-square-full"></i> USD
                                    </td>
                                    <td>
                                        000.00
                                    </td>
                                    <td>
                                        000.00
                                    </td>
                                    <td>
                                        000.00
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="fas fa-square-full"></i> GBP
                                    </td>
                                    <td>
                                        000.00
                                    </td>
                                    <td>
                                        000.00
                                    </td>
                                    <td>
                                        000.00
                                    </td>
                                </tr>
                            </table>
                            <button type="button" class="float-right btn btn-primary">See more FX Rates</button>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="promotion border-radius">
                <div class="row">
                    <div class="col-lg-1">
                        <img src="images/light.png" />
                    </div>
                    <div class="col-lg-7">
                        <h3 class="color-white promo-heading">How Can We Help You?</h3>
                        <div class="promo-caption color-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                            ut aliquip ex ea commodo consequat.</div>
                    </div>
                    
                </div>

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="custom-slide">
                            <img src="images/slide.jpg" />
                            <div class="slide-title">choose a credit card</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="custom-slide">
                            <img src="images/slide.jpg" />
                            <div class="slide-title">buy a home</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="custom-slide">
                            <img src="images/slide.jpg" />
                            <div class="slide-title">buy a home</div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="custom-slide">
                            <img src="images/slide.jpg" />
                            <div class="slide-title">buy a home</div>
                        </div>
                    </div>

                </div>
            </div>

            <%- include('partials/contact.html') %>
        </div>

        <%- include('partials/footer.html') %>
    </div>	

	<%- include('partials/scripts.html'); %>
</body>
</html>