<%- include('partials/header.html', {title: "My Profile", page_title: "Switch Token", page_icon: "images/transfers-icon.png"}) %>

<div class="content">
    <div class="container">

        <div class="tab-navs" id="">

            <%- include('components/profile-tabs.html', {active: "switch-token-type"}) %>

          </div>

            <div class="card card-bordered">
                <div class="card-header">
                    Switch Token Type Cofirmation
                </div>

                <div class="card-body">
                  <div class="alert alert-primary">
                      <span class="text-sm font-weight-bold">Dear Customer, you are about to switch your token type. Please confirm if you would like to continue</span>
                  </div>
                  <div class="row">
                          <%- include('components/rsa-input.html') %>            
                  </div>
                  <div class="row text-right">
                    <div class="col">
                      <a href="switch-token-type-step2.html" class="btn pl-5 pr-5 btn-sm btn-primary  mt-3" id="rsa-buttons">continue</a>
                    </div>
                  </div>

                </div>
            </div>
            <%- include('partials/contact.html') %>
        </div>

        <%- include('partials/footer.html') %>
    </div>

    <%- include('partials/scripts.html'); %>
  </body>
  </html>
