    <%- include('partials/header.html', {title: "Transfers", page_title: "International Wire", page_icon: "images/transfers-icon.png"}) %>
    
    <div class="content">
        <div class="container">

            <div class="tab-navs" id="transfer-tabs">
                
                <%- include('components/transferTabs.html', {active: "international"}) %>

                <div class="card card-bordered">
                    <div class="card-header">
                        Step 1 of 3 - International Wire
                        <div class="text-sm">Transfer money to an International Bank</div>
                    </div>
                    <div class="card-body">

                        <form>
                            <div class="row">
                                <div class="col-sm-5">

                                    <div class="form-group">
                                        <label class="text-sm text-uppercase">From</label>
                                        <select class="custom-select form-control">
                                            <option selected="">Select Account</option>
                                            <option>Savings 234***123 - $3500.00</option>
                                            <option>Savings 234***123 - $3500.00</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label class="text-sm text-uppercase">To</label>
                                        <select class="custom-select form-control">
                                            <option selected="">Select Account</option>
                                            <option>Savings 234***123 - $3500.00</option>
                                            <option>Savings 234***123 - $3500.00</option>
                                        </select>
                                    </div>

                                    <div class="row">
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="text-sm text-uppercase">Currency</label>
                                                <select class="custom-select form-control">
                                                    <option selected="">JMD</option>
                                                    <option>USD</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <label class="text-sm text-uppercase">Amount</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-5 offset-sm-2">

                                    <div class="form-group">
                                        <label class="text-sm text-uppercase">Transfer Date</label>

                                        <div class="mb-1">
                                            <div>
                                                <label class="text-default mb-0">
                                                    <input class="mr-1" type="radio" name="transferDate" checked>
                                                    Immediately
                                                </label>
                                            </div>
                                            <div>
                                                <label class="text-default mb-0">
                                                    <input class="mr-1" type="radio" name="transferDate">
                                                    On the Following Date
                                                </label>
                                            </div>
                                        </div>

                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label class="text-sm text-uppercase">Transaction Remarks (optional)</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>  

                            <div class="text-right">
                                <a href="transfers-intl-wire-step2.html#transfer-tabs" class="btn pl-5 pr-5 btn-sm btn-primary">Next Step</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <%- include('partials/contact.html') %>
        </div>

        <%- include('partials/footer.html') %>
    </div>

    <%- include('partials/scripts.html'); %>
</body>
</html>